<h1 class="text-center">Hero Items</h1>

<section class="row text-center placeholders">
  <% @hero_items.each do |item| %>
    <div class="col-6 col-sm-3 placeholder">
      <img src=<%= item.image_link %>>
      <h4><a class="nav-link" href=<%= item.link %>><%= item.title %></a></h4>
      <div class="text-muted"></div>
    </div>
  <% end %>
</section>
